* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Helvetica, Arial,
    sans-serif;
  color: hsl(220, 10%, 20%);
  background-color: hsl(220, 10%, 98%);
}
